<li class="card card_description" id="{{imdbID}}">
  <img class="card_image" src={{Poster}} alt="" />
 
    <p class="card_title">
      {{Title}}
    </p>
    <p class="card_year">
      {{Year}}
    </p>
  
</li>