<header class="header">
  <div class="container">
    <div class="logo">
      <a class="logo_link">
        <img class="logo_image" src="./images/logo.svg" alt=""
      /></a>
      <a class="logo_link" href="#"><p class="logo_name">filmoteka</p></a>
    </div>
    <form class="form" action="#">
      <input type="text" name="search" class="search-bar" />
      <button class="form-button" type="submit"></button>
    </form>
  </div>
  <ul class="menu">
    <li class="menu_item"><a class="menu_link" href="#">log in</a></li>
    <li class="menu_item">
      <a class="menu_link" href="#" onClick="route()">sign in</a>
    </li>
  </ul>
</header>

