.film {
  list-style: none;
  width: 100vw;
  height: 94vh;
  position: absolute;
  margin: 0;
  padding: 0;
  background-image: url("../images/film-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.description_container  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}
.inactive {
  display: none;
}
.film_container {
  display: flex;
}
.layer {
  position: absolute;
  background-color: black;
  width: 100vw;
  height: 94vh;
  opacity: 0.8;
}
.film_item {
  width: 1200px;
  transform: scale(1);
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.poster {
  width: auto;
  height: 500px;
  
  margin-right: 5%;
  object-fit: fill;
}
.title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.category {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.description_content {
  font-size: 18px;
  margin-top: 5px;
  padding-left: 10px;
  color: white;
}
.film_button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url("../images/icon-close.svg");
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.film_button:hover,
.film_button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
